.panel-heading {
    font-size: 18px;
}

.btn-shortcut {
    display:inline-block;
    margin:5px;
}

.well {
    background:#E0E0E0;
}

.go-back {
    margin-top:15px;
}

.device-title {
    margin-top:0;
    margin-bottom:30px;
    font-size:20px;
}

.temp-wrap {
    margin-bottom:10px;
}

.currently {
    font-size:18px;
    margin-bottom:15px;
}

.temperature {
    font-size:30px;
    font-weight:bold;
}

.scene-pending,
.device-wrap.pending h3 {
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left:25px;
}

.scene-pending .glyphicon {
    display:none;
}
.device-wrap.pending h3 {
    background-position: right center;
    padding-left:0;
}